* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Cores */
  --cor-rosa1: #fdf4f7;
  --cor-rosa2: #f9d7d8;
  --cor-marrom: #654336;
  --cor-dourada-deg: linear-gradient(90deg, #f1bd61, #f6d78a);

  /* Fontes */
  --fonte-cursiva: "Great Vibes", cursive;
  --fonte-texto: "Poppins", sans-serif;
  --fonte-titulos: "PT Serif", serif;

  /* Pesos das fontes */
  --peso-light: 300;
  --peso-normal: 400;
  --peso-medium: 500;
  --peso-semi-bold: 600;
  --peso-bold: 700;

  /* Tamanhos de fonte */
  --texto-pequeno: 0.875rem; /* 14px */
  --texto-normal: 1rem; /* 16px */
  --texto-medio: 1.125rem; /* 18px */
  --texto-grande: 1.25rem; /* 20px */
  --titulo-pequeno: 1.5rem; /* 24px */
  --titulo-medio: 1.8rem; /* 32px */
  --titulo-grande: 2.5rem; /* 40px */
  --titulo-hero: 3rem; /* 48px */
}

h1 {
  font-family: var(--fonte-titulos);
  font-size: var(--titulo-grande);
}

h2 {
  font-family: var(--fonte-cursiva);
  font-weight: var(--peso-semi-bold);
  font-size: var(--titulo-medio);
}

p {
  font-family: var(--fonte-texto);
  font-weight: var(--peso-normal);
  font-size: var(--texto-pequeno);
}

header {
  font-family: var(--fonte-subtitulo);
  color: var(--cor-marrom);
  background-color: var(--cor-rosa1);
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

header img {
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.texto-logo {
  font-size: var(--texto-grande);
}

.logo-inicial {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--cor-marrom);
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: var(--peso-bold);
}

.menu-toggle:hover {
  color: var(--cinza-claro);
}

.menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background: var(--cor-rosa1);
  position: absolute;
  top: 60px;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1em;
  text-align: start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.075);
}

.menu a {
  color: var(--cor-marrom);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: var(--azul);
  color: var(--cinza-claro);
}

.menu.show {
  display: flex;
}

/*HERO SECTION*/

#hero-section {
  position: relative;
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  background-image: url("../imagens/img-hero.webp");
  background-size: cover;
  background-position: center center;
}

.titulo-hero-section {
  font-family: var(--fonte-titulos);
  z-index: 10;
  color: var(--cor-marrom);
  font-size: 1.8em;
  margin: 20px;
}

.texto-hero-section {
  font-family: var(--fonte-texto);
  z-index: 9;
  color: var(--cor-marrom);
  font-size: 1em;
  margin: 0 20px 20px 20px;
}

.btn-cta-hero-section {
  font-size: 1em;
  display: inline;
  z-index: 8;
  color: var(--cor-marrom);
  background: var(--cor-dourada-deg);
  margin: 0 20px 20px 20px;
  padding: 10px 15px;
  width: 50vw;
  max-width: 200px;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-cta-hero-section:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.055); /* Sombra suave */
}

/* SEÇÃO BEM-VINDOS */

#secao-inicial {
  text-align: center;
  margin: 20px 30px 10px 30px;
}

.text-bem-vindos {
  color: var(--cor-marrom);
  margin-top: 20px;
}

.text-secao-inicial {
  color: var(--cor-marrom);
  margin: 20px 0;
  text-align: justify;
}

.secao-inicial > img {
  margin: 0px auto;
}

/* SEÇÃO BOLOS DESTAQUES */

#sabores-destaques {
  text-align: center;
  padding: 10px 30px 30px 30px;
  background-color: var(--cor-rosa1);
}

.text-bem-vindos {
  color: var(--cor-marrom);
}

.text-secao-inicial {
  color: var(--cor-marrom);
  margin-top: 20px;
  text-align: justify;
}

.box-dos-bolos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.bolos {
  margin: 5px auto;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 8px;
  height: auto;
  width: 250px;
  max-width: 80vw;
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.144);
}

.imagem-box-bolo {
  background-image: url("../imagens/bolos/bolo1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.desc-box-bolo {
  padding: 10px 20px 0px 20px;
  text-align: center;
}

.nome-do-bolo {
  font-family: var(--fonte-texto);
  color: var(--cor-marrom);
  font-size: var(--texto-pequeno);
}

.desc-box-bolo > a {
  display: block;
  color: var(--cor-marrom);
  text-decoration: none;
  background: var(--cor-dourada-deg);
  padding: 5px 10px;
  margin: 10px auto 0px auto;
  max-width: 40vw;
  border-radius: 8px;
}

.preco-link-contato {
  font-weight: var(--peso-bold);
}

.btn-bolos-destaques {
  display: block;
  color: var(--cor-marrom);
  text-decoration: none;
  background: var(--cor-dourada-deg);
  padding: 15px 10px;
  margin: 15px auto 0px auto;
  max-width: 80vw;
  border-radius: 8px;
  font-size: var(--texto-grande);
}

/* DIFERENCIAIS */

#diferenciais {
  text-align: center;
  padding: 10px 30px;
}

.tit-diferenciais {
  color: var(--cor-marrom);
  margin-top: 20px;
}

.boxs-diferenciais {
  margin: 20px 0;
  background-color: var(--cor-rosa2);
  padding: 10px 0;
  border-radius: 8px;
  color: var(--cor-marrom);
}

.boxs-diferenciais img {
  width: 30px;
}

.tit-diferencial {
  margin: 8px 0;
  font-family: var(--fonte-texto);
  font-weight: var(--peso-bold);
}

/* PASSO A PASSO */

#passo-a-passo {
  background-color: var(--cor-rosa1);
  padding: 10px 20px;
  text-align: center;
}

.tit-passo-a-passo {
  color: var(--cor-marrom);
  margin-top: 20px;
}

.boxs-passo-a-passo {
  display: flex;
  margin: 40px 20px;
  text-align: start;
  column-gap: 20px;
  align-items: center;
  color: var(--cor-marrom);
}

.boxs-passo-a-passo img {
  width: 40px;
  height: 40px;
}

/* PROVAS REAIS */

#provas-reais {
  padding: 10px 20px;
  text-align: center;
}

.tit-provas-reais {
  color: var(--cor-marrom);
  font-family: var(--fonte-cursiva);
}

.tit-avaliacao-provas-reais {
  font-family: var(--fonte-texto);
}

.text-provas-reais {
  color: var(--cor-marrom);
}

.boxs-provas-reais {
  margin: 20px 0;
  background-color: var(--cor-rosa2);
  padding: 10px 0;
  border-radius: 8px;
  color: var(--cor-marrom);
}

.boxs-provas-reais {
  margin: 20px 0;
  background-color: var(--cor-rosa2);
  padding: 10px 0;
  border-radius: 8px;
  color: var(--cor-marrom);
}

.boxs-provas-reais img {
  width: 25vw;
}

/* CONTATOS */

#contatos {
  background-color: var(--cor-rosa1);
  padding: 10px 20px 30px 20px;
  text-align: center;
  scroll-margin-top: 60px;
}

.tit-contatos {
  color: var(--cor-marrom);
}

.text-contatos {
  color: var(--cor-marrom);
  margin: 20px 0;
}

.numero-contatos {
  color: var(--cor-marrom);
  margin: 20px 0;
  font-weight: var(--peso-bold);
}

.btn-contatos {
  display: block;
  color: var(--cor-marrom);
  text-decoration: none;
  background: var(--cor-dourada-deg);
  padding: 15px 10px;
  margin: 15px auto 0px auto;
  max-width: 70vw;
  border-radius: 8px;
  font-size: var(--texto-medio);
}

/* LOCALIZAÇÃO */

#localizacao {
  padding: 10px 20px;
  text-align: center;
}

.tit-localizacao {
  color: var(--cor-marrom);
}

.text-nome-da-rua {
  display: flex;
  margin: 10px 20px;
  text-align: center;
  column-gap: 20px;
  align-items: center;
  color: var(--cor-marrom);
}

.text-nome-da-rua img {
  width: 30px;
  height: 30px;
}

iframe {
  width: 80vw;
  height: 50vh;
}

.text-iframe {
  margin-top: 20px;
  color: #333;
  font-size: 0.7em;
}

/* FOOTER */

footer {
  background: linear-gradient(180deg, #492c21, #25140d);
  color: #fff;
  font-family: Arial, sans-serif;
}

.box-logo-final {
  text-align: center;
}

.box-logo-final-texto {
  align-items: center;
  margin: 20px auto 0px auto;
  padding: 15px 20px 7px 20px;
}

.texto-logo-final {
  font-family: var(--fonte-titulos);
  font-size: var(--texto-grande);
}

.subtexto-logo-final {
  margin: 0px 10px;
}

.box-logo-final-texto img {
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.footer-container {
  display: flex;
  column-gap: 40vw;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-col {
  margin-bottom: 40px;
}

.footer-col h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 5px 0;
  min-width: 48px;
  /* Padding para aumentar área de toque */
    padding: 5px 0px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  background: #1d0d07; /* marrom mais escuro */
  padding: 15px 0;
}

.footer-bottom a {
  color: #d4a373; /* dourado suave */
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  font-size: 0.7em;
}

/* RESPONSIVIDADE 768px */

@media (min-width: 768px) {
  .menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .menu-toggle {
    display: none;
  }
}
