* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores */
  --cor-rosa1: #fdf4f7;
  --cor-rosa2: #f9d7d8;
  --cor-marrom: #654336;
  --cor-dourada-deg: linear-gradient(90deg, #f1bd61, #f6d78a);

  /* Fontes */
  --fonte-cursiva: "Great Vibes", cursive;
  --fonte-texto: "Poppins", sans-serif;
  --fonte-titulos: "PT Serif", serif;

  /* Pesos das fontes */
  --peso-light: 300;
  --peso-normal: 400;
  --peso-medium: 500;
  --peso-semi-bold: 600;
  --peso-bold: 700;

  /* Tamanhos de fonte */
  --texto-pequeno: 0.875rem; /* 14px */
  --texto-normal: 1rem; /* 16px */
  --texto-medio: 1.125rem; /* 18px */
  --texto-grande: 1.25rem; /* 20px */
  --titulo-pequeno: 1.5rem; /* 24px */
  --titulo-medio: 2rem; /* 32px */
  --titulo-grande: 2.5rem; /* 40px */
  --titulo-hero: 3rem; /* 48px */
}

h1 {
  font-family: var(--fonte-titulos);
  font-size: var(--titulo-grande);
}

h2 {
  font-family: var(--fonte-cursiva);
  font-weight: var(--peso-semi-bold);
  font-size: var(--titulo-medio);
}

p {
  font-family: var(--fonte-texto);
  font-weight: var(--peso-normal);
  font-size: var(--texto-normal);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-rosa1);
}

.logo-header {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  column-gap: 20px;
}

.img-logo-header {
  width: 50px;
  border-radius: 100%;
}

.nome-logo-header {
  font-family: var(--fonte-titulos);
  color: var(--cor-marrom);
  font-size: var(--texto-grande);
  font-weight: var(--peso-bold);
}

.hamburger-menu {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background: var(--cor-marrom);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/*HERO SECTION*/

.hero-section {
  position: relative;
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  background-image: url("/imagens/img-hero.webp");
  background-size: cover;
  background-position: center center;
}

.titulo-hero-section {
  font-family: var(--fonte-titulos);
  z-index: 1000;
  color: var(--cor-marrom);
  font-size: 1.8em;
  margin: 20px;
}

.texto-hero-section {
  font-family: var(--fonte-texto);
  z-index: 1000;
  color: var(--cor-marrom);
  font-size: 1em;
  margin: 0 20px 20px 20px;
}

.btn-cta-hero-section {
  font-family: var(--fonte-texto);
  display: inline;
  z-index: 1000;
  color: var(--cor-marrom);
  background: var(--cor-dourada-deg);
  font-size: 80%;
  margin: 0 20px 20px 20px;
  padding: 10px 15px;
  width: 50vw;
  max-width: 200px;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn-cta-hero-section:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.055); /* Sombra suave */
}